.home {
    .introduction-section {
        .img-container {
            width: 100%;
            margin-top: -134px;
            overflow: hidden;

            img {
                width: 100%;
    
                @media (max-width: @screen-md) {
                    height: 450px;
                }
                @media (max-width: @screen-sm) {
                    width: unset;
                }
            }
        }
        .introduction-content {
            position: absolute;
            top: 150px;
            right: 100px;
            width: 700px;

            @media (max-width: @screen-xl) {
                right: 20px;
            }
            @media (max-width: @screen-lg) {
                width: 500px;
            }
            @media (max-width: @screen-md) {
                top: 110px;
            }
            @media (max-width: @screen-sm) {
                width: 340px;
                top: 140px;
                right: 10px;
            }

            .title {
                .main-title {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 32px;
                    color: @purple-color;

                    @media (max-width: @screen-sm) {
                        display: none;
                    }

                    i {
                        margin-right: 15px;
                        font-family: 'Zapfino';
                        font-weight: 400;
                        font-size: 54px;
                        color: @white-color;
                    }
                }
                .sub-title {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 30px;
                    color: @white-color;

                    @media (max-width: @screen-sm) {
                        font-size: 24px;
                    }

                    i {
                        font-size: 30px;
                        color: @purple-color;

                        @media (max-width: @screen-sm) {
                            font-size: 24px;
                        }
                    }
                }
            }
            .description {
                margin-top: 70px;
                font-size: 19px;
                color: @white-color;

                @media (max-width: @screen-lg) {
                   margin-top: 30px;
                   font-size: 12px;
                }
            }
            .ctrl-container {
                margin-top: 125px;
                display: flex;
                justify-content: center;

                @media (max-width: @screen-lg) {
                    margin-top: 15px;
                }

                .btn-play {
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    font-family: 'Montserrat';
                    font-weight: 800;
                    font-size: 16px;
                    color: @white-color;

                    svg {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .about-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 140px 20px 85px 20px;

        @media (max-width: @screen-sm) {
            display: block;
            padding: 30px 14px;
        }

        .about-img-container {
            width: 45%;

            @media (max-width: @screen-sm) {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
        .about-section-content {
            padding: 20px 30px 0 60px;
            width: 55%;

            @media (max-width: @screen-sm) {
                width: 100%;
                padding: 20px 0 30px;
            }

            .title {
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 28px;

                .sub-title {
                    color: @purple-color;
                    font-size: 28px;
                    font-weight: 700;

                    i {
                        margin-right: 15px;
                        font-family: 'Zapfino';
                        font-weight: 400;
                        font-size: 48px;
                    }
                }
            }
            .description {
                margin-top: 12px;
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 16px;
            }
            .ctrl-container {
                margin-top: 40px;
            }
        }
    }

    .students-saying-section {
        margin-top: 140px;

        @media (max-width: @screen-sm) {
            margin-top: 20px;
        }

        .title {
            text-align: center;

            > span {
                font-family: 'Montserrat';
                font-weight: 700;
                font-size: 34px;
                
                i {
                    font-size: 34px;
                    color: @purple-color;
                }
            }
        }
        .carousel-container {
            margin: 58px 0 60px;
            overflow-x: hidden;

            .carousel:focus-visible {
                outline: none;
            }
            ._item {
                margin: 0 30px;
                max-width: 770px;
                
                .description {
                    background: #f8f8f8;
                    padding: 20px 30px;

                    .description-text {
                        padding: 0px 30px;
                        text-align: center;
                        color: #222222;
                        opacity: 0.7;
                    }
                }
                .student-avatar {
                    text-align: center;
                    margin-top: -32px;

                    > img {
                        width: 120px;
                        height: 120px;
                    }
                    .student-name {
                        margin-top: 20px;
                        font-family: 'Montserrat';
                        font-weight: 800;
                        font-size: 20px;
                        color: #222222;
                    }
                    .student-description {
                        margin-top: 5px;

                        span {
                            font-weight: 700;

                            i {
                                font-weight: 400;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }
}