form {
    padding: 140px 0 110px;
    
    .title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        color: #8692A6;
        text-align: center;
    }

    .form-container {
        max-width: 990px;
    }
}