.signin-container {
    padding: 200px 165px 175px;

    .title {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 30px;
        color: #000000;
    }

    .description {
        margin-top: 10px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 17.5px;
        color: #8692A6;
    }

    .form-container {
        margin-top: 38px;

        > .siginin-footer {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 15px;
            color: #696F79;

            a {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
}