.teachers-container {
    .quote-container {
        margin: 100px 0 67px;

        @media (max-width: @screen-sm) {
            margin: 50px 24px;
        }
    }
    .teacher-list {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-wrap: wrap;
        background: linear-gradient(180deg, #E5E5E5 12.37%, #5F269E 100%);
        padding: 30px;

        @media (max-width: @screen-sm) {
            display: block;
            padding: 0;
        }

        .teacher-photo {
            position: relative;
            width: 49%;
            max-width: 380px;
            height: 300px;
            overflow-y: hidden;
            cursor: pointer;
            background: @white-color;

            @media (max-width: @screen-sm) {
                width: 100%;
                max-width: unset;
            }

            > img {
                width: 100%;
            }

            &:hover .photo-tooltip {
                opacity: 1;
            }
            .photo-tooltip {
                opacity: 0;
                position: absolute;
                top: 8px;
                right: 1vw;
                width: 95%;
                height: 95%;
                background: rgba(129, 129, 129, 0.65);
                border-radius: 5px;
                padding: 20px;
                transition: opacity .3s;

                @media (max-width: @screen-md) {
                    padding: 12px;
                }
                @media (max-width: @screen-sm) {
                    display: none;
                }

                > h2 {
                    font-weight: 700;
                    font-size: 24px;
                    text-transform: capitalize;
                    color: @white-color;

                    @media (max-width: @screen-md) {
                        font-size: 18px;
                    }
                }
                > div {
                    font-size: 14px;
                    font-weight: 300;
                    color: @white-color;
                    margin-top: 12px;

                    @media (max-width: @screen-md) {
                        font-size: 12px;
                        margin-top: 4px;
                    }
                }
            }

            > h2 {
                position: absolute;
                width: 100%;
                text-align: center;
                left: 0;
                bottom: 0;
                padding: 6px 10px;
                font-weight: 400;
                font-size: 20px;
                text-transform: capitalize;
                background: rgba(0, 0, 0, 0.6);
                color: @white-color;
                transition: opacity .3s;

                @media (max-width: @screen-md) {
                    font-size: 16px;
                }
            }

            &:hover > h2 {
                opacity: 0;
            }
        }
    }
}
.teacher-modal {
    .MuiBackdrop-root {
        background:rgba(0, 0, 0, 0.9)
    }
    .MuiDialog-paper {
        max-width: 100%;
        width: 100%;
        margin: 0;
        background: transparent;

        .MuiDialogContent-root {
            overflow-y: hidden;

            @media(max-width: @screen-md) {
                overflow-y: auto;
            }
            @media (max-width: @screen-sm) {
                padding: 0;
            }
        }
    }
}