RewriteBase /
#RewriteRule ^index\.html$ - [L]
RewriteRule \/api\/ - [L]
RewriteRule \/uploads\/ - [L]
RewriteRule \/socket.io\/ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]