
<html>
    <head>
        <style>
            h2.title {
                color: rgb(145, 65, 145);
                padding: 10px 0 10px 20px;
            }
            .body {
                font-family: monospace;
                padding: 0 20px
            }
        </style>
    </head>
    <body>
        <h2 class="title">Welcome to MusicalBest!</h2>
        <p class="body">
            Thanks for your registraion. <br>
            Please confirm your email. Click below link to verify your email. <br><br>

            <a target="_blank" href="https://musicalbest.com/api/users/{{ id }}/email/verify/{{token}}">Verify your email!</a>
            <br><br>
            Regards.
        </p>
    </body>
</html>
