
<html>
    <head>
        <style>
            h2.title {
                color: rgb(145, 65, 145);
                padding: 10px 0 10px 20px;
            }
            .body {
                font-family: monospace;
                padding: 0 20px
            }
        </style>
        <script nonce="abf4dd">
            let totalSec = 8;
            setInterval(() => {
                totalSec--;
                document.getElementById("sec").innerText = totalSec;

                if(!totalSec)
                    document.getElementById("toMain").click();
            }, 1000)
        </script>
    </head>
    <body>
        <h2 class="title">Thanks for your confirmation!</h2>
        <p class="body">
            You successfully verified your email. <br>
            Please redirect to main page. It will automatically redirect in <span id="sec"></span> seconds. <br><br>

            <a id="toMain" target="_self" href="/">Click here!</a>
        </p>
    </body>
</html>
