.class-component {
    width: 33%;
    display: flex;
    justify-content: center;
    padding: 0 5px;

    @media (max-width: @screen-md) {
        width: 50%;
    }
    @media (max-width: @screen-sm) {
        width: 100%;
    }

    .class-card {
        max-width: 344px;
        border-radius: 4px;
    
        .info-container {
            img {
                width: 100%;
            }
        }
        .detail-container {
            background: #dfd4ec;
            padding: 20px;
    
            .teacher-avatar {
    
                img {
                    margin-right: 15px;
                }
                span {
                    font-family: 'Montserrat';
                    font-weight: 700;
                    font-size: 20px;
                    color: #000;
                }
            }
            .subtitle {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 700;
                color: #000;
            }
            .description {
                margin-top: 10px;
            }
            .date {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                font-weight: 600;
                font-size: 15px;
                color: #000;
            }
            .ctrl-container {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
    
                span {
                    font-weight: 600;
                    font-size: 14px;
                    color: #000;
                }
            }
        }
    }
}