.question-section {
    background: #ebe8fb;

    .title {
        padding-top: 20px;
        text-align: center;

        span {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 34px;

            i {
                font-size: 34px;
                font-weight: 700;
                color: @purple-color;
            }
        }
    }
    .question-container {
        display: flex;
        justify-content: center;
        padding: 105px 0 155px;

        .accordion {
            width: 768px;
            padding: 48px 24px;
            background: #f3f5f6;

            .accordion-item {
                border-radius: 8px;
                
                & + .accordion-item {
                    margin-top: 14px;
                }
                .accordion-header {
                    > .accordion-button {
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 18px;
                        box-shadow: none;

                        &:focus, &:active {
                            box-shadow: none;
                        }
                        &:not(.collapsed) {
                            color: #000;
                            background: transparent;

                            &::after {
                                color: #000;
                                filter: grayscale(1);
                            }
                        }
                    }
                }
                .accordion-collapse {
                    
                    .accordion-body {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 18px;
                        color: rgba(60, 60, 67, 0.85);
                    }
                }
            }
        }
    }
}