.teacher-component {
    position: relative;
    
    .img-container {
        width: 100%;

        &.active {
            filter: blur(6px);

            @media (max-width: @screen-md) {
                filter: none;
            }
        }

        > img {
            width: 100%;
        }
    }
    .custom-tooltip {
        position: absolute;
        bottom: 5px;
        left: 1.5vw;
        width: 95%;
        z-index: 1;
        height: 70px;
        overflow-y: auto;
        transition: .3s;

        &.active {
            height: 92%;
        }

        @media (max-width: @screen-lg) {
            height: 40px;
        }
        @media (max-width: @screen-md) {
            position: relative;
            width: 100%;
            height: auto;
            bottom: unset;
            left: unset;
            padding-top: 16px;
        }

        .tooltip-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width: @screen-md) {
                display: block;
            }

            > h2 {
                font-style: italic;
                font-weight: 700;
                font-size: 64px;
                text-transform: capitalize;
                color: @white-color;
                width: 40%;

                @media (max-width: @screen-lg) {
                    font-size: 32px;
                }

                @media (max-width: @screen-md) {
                    width: 100%;
                }
            }

            .inline-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 60%;

                @media (max-width: @screen-md) {
                    flex-direction: column-reverse;
                    width: 100%;
                }

                .tabs {
                    > .btn-tab {
                        position: relative;
                        margin-left: 10px;
                        border: none;
                        box-shadow: none;
                        padding: 0 15px;
    
                        &:first-child {
                            width: 150px;
                        }
    
                        &.active {
                            .skew-div {
                                background: linear-gradient(0deg, rgba(95, 38, 158, 0.5), rgba(95, 38, 158, 0.5)), rgba(129, 129, 129, 0.65);
                            }
                        }
                        .skew-div {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            transform: skewX(-40deg);
                            background: #818181a6;
                        }
                        
                        h3 {
                            font-style: italic;
                            font-weight: 400;
                            font-size: 36px;
                            color: @white-color;
                            text-transform: capitalize;
    
                            @media (max-width: @screen-lg) {
                                font-size: 20px;
                            }
                        }
    
                    }
                }
                .social-links {
                    @media (max-width: @screen-sm) {
                        padding: 16px 0;
                    }

                    .social-icon {
                        width: 22px;
                        height: 22px;
                        background: #A64BF7;
                        color: @white-color;
                        padding: 7px;
                        border-radius: 50%;
                        cursor: pointer;
    
                        & + .social-icon {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .tooltip-body {
            background: rgba(129, 129, 129, 0.65);
            border-radius: 5px;
            
            h4.description {
                padding: 30px 90px;
                font-weight: 400;
                font-size: 18px;
                color: @white-color;

                @media (max-width: @screen-md) {
                    padding: 20px 12px;
                    font-size: 14px;
                }
            }
            .accordion {
                padding: 30px 48px;
                
                @media (max-width: @screen-md) {
                    padding: 20px 0;
                }

                .accordion-item {
                    background: transparent;
                    border: none;

                    .accordion-header {
                        > button {
                            background: transparent;
                            box-shadow: none;
                            color: @white-color;
                            font-weight: 700;
                            font-size: 18px;
                            text-transform: uppercase;

                            @media (max-width: @screen-md) {
                                font-size: 14px;
                            }

                            &::after {
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%236F1DF4' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");
                                transform: rotate(-90deg);
                            }

                            &:not(.collapsed) {
                                background: transparent;
                                color: @white-color;

                                &::after {
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%236F1DF4' d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/%3E%3C/svg%3E");
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                    .accordion-collapse {
                        .accordion-body {
                            span {
                                font-weight: 400;
                                font-size: 18px;
                                color: @white-color;

                                @media (max-width: @screen-md) {
                                    font-size: 14px;
                                }
                            }
                            .ctrl-container {
                                margin-top: 10px;
                                display: flex;
                                justify-content: flex-end;

                                > .btn-purple {
                                    padding: 10px 34px;
                                    background: #5f269e80;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}