.event-section {
    display: flex;
    justify-content: flex-end;
    background: #5F269E;


    .event-section-content {
        max-width: 470px;
        margin-top: 230px;

        .title {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 34px;
            color: @white-color;

            i {
                font-size: 34px;
                font-weight: 700;
                opacity: .7;
            }
        }
        .description {
            margin-top: 32px;
            color: @white-color;
            opacity: .7;
        }
        .ctrl-container {
            margin-top: 152px;
        }
    }
    .event-img-container {
        margin-top: 40px;
    }
}