.p-studio-default-setting {
    .setting-content {
        .form-group {
            .text-input {
                margin: 4px 18px 12px;
            }

            .phone-input {
                width: 300px;
            }

            .autocomplete-ctrl {
                margin: 4px 18px 12px;
                width: 300px;
            }
        }
    }

    .ctrl-container {
        margin-top: 18px;
        display: flex;
        justify-content: center;
    }
}